.layout {
  display: flex;
  flex-direction: column;
  // width: 100%;
  margin: 0 50px;

  .header {}

  .body {
    // font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


    .divider {
      padding: 20px 0;
    }

    .posts-container {

    }


  }
}
